Project: 
1----------------------- 
Project name          = COPE-0773
Type                  = mito
Genome Range          = 12000-22000
K-mer                 = 33
Max memory            = 
Extended log          = 1
Save assembled reads  = 2
Seed Input            = /work/hobi/jselwyn/Coryphopterus_Genome/Reference_Sequence/chya_co1.fasta
Reference sequence    = 
Variance detection    = no
Chloroplast sequence  = 

Dataset 1:
1----------------------- 
Read Length           = 150
Insert size           = 300
Platform              = illumina
Single/Paired         = PE
Combined reads        = 
Forward reads         = /work/hobi/jselwyn/Coryphopterus_Genome/fq_fp1_clmp_fp2_fqscrn_repaired/COPE-0773.clmp.fp2_repr.r1.fq.gz
Reverse reads         = /work/hobi/jselwyn/Coryphopterus_Genome/fq_fp1_clmp_fp2_fqscrn_repaired/COPE-0773.clmp.fp2_repr.r2.fq.gz

Heteroplasmy:
1----------------------- 
MAF                   = 
HP exclude list       = 
PCR-free              = 

Optional:
1----------------------- 
Insert size auto      = yes
Use Quality Scores    = no
Output path           = COPE-0773_mtgenome.fasta
